<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistical Questionnaire</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
      <div class="heading_box">
        <h1>Statistical Questionnaire</h1>
      </div>
      <div class="container">
        <div class="box">
            <h2>
                <div id="question"></div>
                <div id="answer"></div>
                <div id="options"></div>

              </h2>
        </div>
      </div>


      <canvas class="background"></canvas>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
      
    <!-- <button id="#back-button1">Back</button> -->
    <button id="restart-button">Restart</button>
    <!-- <button id="back-button1">Restart</button> -->
    
      
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="../static/script/script.js"></script>
</body>
</html>
